.category {
  background-color: var(--white-color);
  border-radius: 2px;
  margin-right: 8px;
}

.category__heading {
  color: var(--text-color);
  font-size: 1.0625rem;
  padding: 12px 20px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  padding-top: 18px;
}

.category__heading-icon {
  font-size: 0.875rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 4px 10px;
}

.category-item {
  position: relative;
}

.category-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
}

.category-item__link {
  position: relative;
  display: block;
  color: var(--text-color);
  font-size: 0.9375rem;
  text-decoration: none;
  padding: 12px 20px;
  right: 0;
  transition: right linear 0.1s, transform 0.5s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
  transform: scale(1.2) translateX(6px);
}

.category-item--active {
  color: var(--primary-color);
  position: relative;
  right: -4px;
  color: var(--primary-color);
  transform: scale(1.2) translateX(6px);
}

.category-item--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}

.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: #ededed;
  color: #555555;
  font-size: 0.875rem;
}

.home-filter__label {
  margin-right: 16px;
  font-size: 1rem;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 0.9375rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn--size-s {
  height: 32px;
  font-size: 12px;
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--disable {
  cursor: default;
  color: #949494;
  background-color: #c3c3c3;
}

.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  position: relative;
  display: block;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  text-decoration: none;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid var(--primary-color);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #ccc;
}

.home-product-item__name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.125rem;
  height: 2.25rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-product-item__price-old {
  font-size: 0.8rem;
  color: #757575;
  text-decoration: line-through;
  margin-left: 10px;
}

.home-product-item__price-current {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-right: 10px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px 0;
}

.home-product-item__like {
  font-size: 0.8125rem;
}

.home-product-item__like-icon-fill {
  color: #f63d30;
  /* display: none; */
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 0.8rem;
  /* zoom: 0.1;    Thu nhỏ lại */
  /* transform: scale(0.4);   Thu nhỏ lại*/
  /* transform-origin: right;   đổi vị trí tâm sang phải*/
  color: #d5d5d5;
  margin: -0.2px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__star {
  font-size: 0.8rem;
}

.home-product-item__sold {
  font-size: 0.75rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  margin: 4px 10px 0;
  color: #595959;
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 12px;
}

.home-product-item__origin-name {
  margin-left: auto;
}

.home-product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favorite::before {
  content: "";
  position: absolute;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  top: 100%;
  left: 0;
  filter: brightness(60%);
}

.home-product-item__favorite span {
  color: var(--white-color);
}

.home-product-item__favorite_icon {
  color: var(--white-color);
  font-size: 0.625rem;
  margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.9);
  padding: 4px 2px;
  border-top-right-radius: 2px;
  display: flex;
  flex-direction: column;
}

.home-product-item__sale-off::after {
  content: "";
  top: 100%;
  left: 0;
  position: absolute;
  border-width: 0 20px 4px;
  border-style: solid;
  color: rgba(255, 216, 64, 0.9);
  border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 500;
}

.select-input__link--active {
  color: var(--primary-color) !important;
}

.select-input--active {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.select-input__list-price {
  position: absolute;
  right: 0;
  left: 0;
  top: 22px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  padding: 8px 16px;
  display: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 100000000;
  min-width: 160px;
}

.select-input__list-price::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
}

.select-input__list-price::after {
  content: "";
  border-width: 10px 14px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -18px;
  right: 2px;
}

.select-input:hover .select-input__list-price {
  display: block;
}
